* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #5977B8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

#todo-form {
    display: flex;
    justify-content: center;
    height: 50px;
}

#task-input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#add-task-btn {
    width: 50px;
    padding: 10px 15px;
    margin-left: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: background 0.3s ease;

    &:hover {
        background-color: #218838;
    }
}

#task-list {
    list-style: none;
    margin-top: 50px;
    width: 600px;
    margin-bottom: 50px;
    overflow-y: auto;
    border-radius: 5px;
    border: solid rgb(190, 186, 186) 2px;
}

.task-item {
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.task-text {
    background: white;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
}

.complete-btn {
    background-color: white;
    color: #099d2c;
    width: 7%;
    border-radius: 5px;
    padding: 10px;
    border: solid 2px #099d2c;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: #099d2c;
        color: white;
        border: solid white 2px;
    }
}

.delete-btn {
    background-color: white;
    color: #b30b0b;
    width: 7%;
    border-radius: 5px;
    padding: 10px;
    border: solid #b30b0b 2px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: #b30b0b;
        color: white;
        border: solid white 2px;
    }
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

@media (max-width: 700px) {
    #task-input {
      width: 70%;
    }
    
    #task-list {
      width: 70%;
    }
}
  